.button {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-family: inherit;
    font-size: var(--font-size-preset-7);
    color: var(--neutral-0);
    border: none;
    padding: var(--padding-10) var(--padding-8);
    border-radius: var(--radius-8);
    background-color: inherit;
    cursor: pointer;
}

.button:hover {
    background-color: var(--neutral-700);
}