.dailyForecast {
    color: var(--neutral-0);
}

.forecastGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-200);
    margin-bottom: var(--spacing-400);
}

.title {
    margin-bottom: var(--spacing-250);
    font-size: var(--font-size-preset-5);
    font-weight: var(--fw-500);
    text-align: left;
}

/* Tablet styles */
@media (min-width: 48rem) {
    .forecastGrid {
        grid-template-columns: repeat(7, 1fr);
    }
}