.forecastCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-800);
    border-radius: var(--radius-12);
    padding: var(--padding-16) var(--padding-10);
    border: 1px solid var(--neutral-600);
}

.icon {
    max-width: 3.75rem;
    max-height: 3.75rem;
    margin-top: var(--spacing-200);
    margin-bottom: var(--spacing-200);
}

.day {
    font-size: var(--font-size-preset-6);
    font-weight: var(--fw-500);
}

.temps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: var(--font-size-preset-7);
    font-weight: var(--fw-500);
}

.high {
    color: var(--neutral-200);
}